

.mt {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
.overlay #img{
    width :390px;

}}

@media (max-width: 500px) {
    .overlay #img{
        width :280px;

    }}


@media (max-width: 400px) {
    .overlay #img{
        width :220px;

    }}


.top-landing {
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    color: #ececec;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    box-shadow: 0 0 5px #8c8c8c;
    background-color: #00A5DB;
    padding: 1px 5px;
    margin: 0px 20px 0px 0px;
}


.bottom-landing {
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    box-shadow: 0 0 5px #8c8c8c;
    background-color: #fafaff;
    padding: 1px 10px;
    margin: 0px 20px 65px 0px;

}

