#postForm-wrap {
	background-color: #fafaff;
	padding: 20px 20px;
	margin-bottom: 50px;
	border: 1px solid #ececec;
	box-shadow: 0 0 5px #8c8c8c;
	/*background-color: #e6e6e6;*/
}
#postForm-wrap .uploads{
	padding-left: 0;
}


#postForm-wrap .pull-right{
	margin-top: 10px;
}


.image-upload > input
{
	display: none;
	border: none;
}


.image-upload > label
{

	border: none;
}


.your-upload-logo
{
	cursor: pointer;
}