/* The main content */
.main-content {
  max-width: 600px;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0 0 40px 250px;
}

.post {
	border: 1px solid #ececec;
	box-shadow: 0 0 5px #8c8c8c;
	background-color: #e6e6e6;
	padding: 1px 20px;
	margin: 0px 0px 20px 0px;
}

.post:hover {
	
	box-shadow: 0 0 20px #8c8c8c;
}

.post-details {
 	width: 100%;
 	max-height: 20000px;
 	color:#48629a;
 	background-repeat:no-repeat;
 	background-attachment:scroll;
	background-position:center center; 
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	background-size:cover; 
	-o-background-size:cover;
}

.post-title {
	color: #48629a;
	font-size: 28px;
	font-weight: bold;
	margin: 2px 0px;
	padding-bottom: 3px;
	word-wrap: break-word;
}

.meta {
	color: #48629a;	
	font-size: 9px;
	font-weight: 900;
	padding-bottom: 3px;
}

.post-content {
	color: #333333;
	font-size: 16px;
    line-height: 1.8;
    padding: 5px;
    padding-bottom: 25px;
    border-bottom: 4px outset #e6e6e6;
}

.rank {
	width: 30px;
	/*padding-left: 10px;*/
	padding-right: 10px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.rank:hover {
	width: 50px;

    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

#info {
	padding-left: 20px;
}

#vote {
	    padding: 5px;
}

#score {
	padding-left: 22px;


	
}

.count {
	
	font-size: 18px;
	padding-right: 15px;
	padding-top: 0px;
	margin-top: 0px;
	color: black;

}

