#profile-wrap {
	background-color: #fafaff;
	padding: 50px 20px;
	margin-bottom: 50px;
	border: 1px solid #ececec;
	box-shadow: 0 0 5px #8c8c8c;
}


#heading-wrap {
	background-color: #fafaff;
	padding: 10px 20px;
	margin-bottom: 25px;
	border: 1px solid #ececec;
	box-shadow: 0 0 5px #8c8c8c;
	color: #444;
}

.profile-img {
	width: 165px;
  	height: 165px;
	border-radius: 50%;
	margin-bottom: 20px;
	border:5px solid black;    
}


.profileImage {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#profile-btn {
	margin: 20px 20px;
	
}

label {
	color: #337ab7;
	padding: 10px 10px;
	border: 2px solid #337ab7;
	border-radius: 5px;
}

label:hover {
	color: #5593c6;
	border-color: #5593c6;
}

.profile-rank {
	width: 50px;
	padding: 5px 5px;

}

.score {
	padding-left: 20px;
	font-weight: bold;
	font: black;
}

#score-stable {
	margin-left: 20px;

}

#left-margin-sm {
	margin-left: 2px;
}



#nav {
  background-color: #fafaff;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
	border: 1px solid #ececec;
	box-shadow: 0 0 5px #8c8c8c;
  
}
#nav ul {
  list-style: none;
  display: inline-block;
  margin:0 auto;
  padding:0;
}
#nav ul li {
  float: left;
  margin: 20px;

  
}
#nav ul li a {
	color: #141517;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	padding-left:10px;
	padding-right:10px;
	
}
	 
#nav li.active a{color: white;   border-bottom: 2px solid #FD3A13 }

.uploads .upload-name {
	width:70%
}