

.main-section{
	width:800px;
	margin-left: -75px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	
}
.dashbord{
	width:28%;
	
	display: inline-block;
	background-color:#34495E;
	color:#fff;
	margin-right:100px;
	margin-top: 25px;
	margin-left: 0px;
	padding: 5px 5px 5px 5px;
}
.icon-section i{
	font-size: 30px;
	padding:10px;
	border:1px solid #fff;
	border-radius:50%;
	margin-top:-25px;
	margin-bottom: 10px;
	background-color:#34495E;
}
.icon-section p{

	margin-top: 40px;
	/*font-size: 20px;*/
	padding-bottom: 10px;
}
.detail-section{
	background-color: #2F4254;
	padding: 5px 0px;
}
.dashbord .detail-section:hover{
	background-color: #5a5a5a;
	cursor: pointer;
}
.detail-section a{
	color:#fff;
	text-decoration: none;
}


.dashbord-green .icon-section,.dashbord-green .icon-section i{
	background-color: #149077;
}
.dashbord-green .detail-section{
	background-color: #149077;
}



.dashbord-orange .icon-section,.dashbord-orange .icon-section i{
	background-color: #DA8C10;
}
.dashbord-orange .detail-section{
	background-color: #DA8C10;
}



.dashbord-blue .icon-section,.dashbord-blue .icon-section i{
	background-color: #2573A6;
}
.dashbord-blue .detail-section{
	background-color: #2573A6;
}




.dashbord-red .icon-section,.dashbord-red .icon-section i{
	background-color:#f44141;
}
.dashbord-red .detail-section{
	background-color:#f44141;
}



.dashbord-skyblue .icon-section,.dashbord-skyblue .icon-section i{
	background-color:#803D9B;
}
.dashbord-skyblue .detail-section{
	background-color:#803D9B;
}



.dashboard-blue .icon-section,.dashboard-blue .icon-section i{
	background-color:#42c5f4;
}
.dashboard-blue .detail-section{
	background-color:#42c5f4;
}