@import url('https://fonts.googleapis.com/css?family=Amiri|Aref+Ruqaa|Cairo|Changa|El+Messiri|Harmattan|Jomhuria|Lateef|Mirza|Rakkas|Lato|Source+Sans+Pro|Ubuntu');
/* *{transition: 0.3s linear; padding:0;margin:0;} */


.container{
	/*margin: 3em auto;*/
	
/*	width: 90%;*/
	text-align: center;
 	font-family: 'Aref Ruqaa', serif; 
	font-family: 'Ubuntu', sans-serif;
    font-family: 'Lato', sans-serif; 
    font-family: 'Source Sans Pro', sans-serif;
	

}
.item {
 	background: #FFF; 
	margin: 2em;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 20px;
	transform: rotate(45deg);
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	padding:0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 0 auto;
}
.item  p {
	position: absolute;
	transform: rotate(-45deg);
	top: 30%;
	left: -20%;
	background: rgba(0, 0, 0, 1);
	/*padding: 15px 20px;*/
	width:125%;
	text-align:center;
	color: #fff;
	transition: all 0.3s ease-in-out;
	
}

.item:hover {
	transform: none;
	transform: scale(1.5);
	z-index:2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.item:hover > p {
	transform: none;
	top: 0;
	
}


.college {
	width: 100%;
	height: 100%;
	transition: 0.3s linear;
	transform: rotate(-45deg) scale(1.4) 

	
}
.item:hover > img {
	transform: none;
	
}



