/* The left sidebar */
.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #48629a;
  background-size: cover;
  width: 200px;
  height: 100%;
  padding: 20px 0;
  overflow: auto;;

}

.icon {
  
  position:absolute;
  left:0;
  top:0;
  margin: 0 auto;
  margin-top:10px;
  margin-left:10px; 
  padding: 0;
  width: 25px;
  height: 25px;
  
}

.profileImage-icon {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border:5px solid white;    

  background-position: top center;


}

.sidebar-left a.company-logo {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  text-align: center;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 600;
}

.sidebar-left .sidebar-links {
  margin: 20px auto;
}

.sidebar-left .sidebar-links a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
  color:  #d9d9d9;
  font-size: 12px;
  font-weight: bold;
  border-left-width: 2px;
  border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
  display: inline;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar-left .sidebar-links a:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

.sidebar-left .sidebar-links a.selected{
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

/* Link Colors */
.sidebar-left .sidebar-links a.link-blue {
  border-color: #2495d0;
}
.sidebar-left .sidebar-links a.link-blue i.fa {
  color: #2495d0;
}

.sidebar-left .sidebar-links a.link-red {
  border-color: #ec4a4d;
}
.sidebar-left .sidebar-links a.link-red i.fa {
  margin-right: 13px;
  color: #ec4a4d;
}

.sidebar-left .sidebar-links a.link-yellow {
  border-color: #f7cb5b;
}
.sidebar-left .sidebar-links a.link-yellow i.fa {
  color: #f7cb5b;
}

.sidebar-left .sidebar-links a.link-green {
  border-color: #52b859;
}
.sidebar-left .sidebar-links a.link-green i.fa {
  color: #52b859;
}

.sidebar-left .sidebar-links a.link-purple {
  border-color: #915ba2;
}

.sidebar-left .sidebar-links a.link-purple i.fa {
  color: #915ba2;
}
.dropdown-container {
  display: none;
  padding-left: 8px;
}


/* Making the sidebar responsive */
@media (max-width: 900px) {


  .card-style {
    text-align: center;
    display: block;
    width: auto;
    vertical-align: middle;
    height: 100px;
    /*max-width: 335px;*/
    margin: 20px 0px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
    border: 1px solid #ececec;
    box-shadow: 0 0 5px #8c8c8c;
    background-color: #fafaff;
  }

  .main-content{
    max-width: none;
    padding: 40px 20px;
    margin: 0 0 40px;
  }

  .sidebar-left {
    width: auto;
    height: auto;
    position: inherit;
    padding: 20px 0 0;
  }

  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links a {
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 14px 0;
    border-left: none;
    border-top-width: 2px;
    border-top-style: solid;
  }

}

/* Mobile phone layout */
@media (max-width: 450px) {
  #nav ul li a {
    color: #141517;
    text-transform: uppercase;
    font-size: 6px;
    font-weight: 700;
    padding-left:5px;
    padding-right:5px;

  }

  #nav ul li {
    float: left;
    margin: 5px;

  }

  .card-style {
    text-align: center;
    display: block;
    width: auto;
    vertical-align: middle;
    height: 100px;
    /*max-width: 335px;*/
    margin: 20px 0px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
    border: 1px solid #ececec;
    box-shadow: 0 0 5px #8c8c8c;
    background-color: #fafaff;
  }

  .card-style #removeApprovalScenarioButton {
    font-size: 5px;
    font-weight: 700;
  }

  .card-style #removeFromScenarioButton {
    font-size: 5px;
    font-weight: 700;
  }


  .card-style #rejectScenarioButton {
    font-size: 5px;
    font-weight: 700;
  }

  .card-style #approveScenarioButton {
    font-size: 5px;
    font-weight: 700;
  }


  .sidebar-left {
    padding: 20px 0;
  }

  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links a {
    display: block;
    max-width: 335px;
    width: auto;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto 5px;
    padding: 10px 25px;
    border-top: none;
    border-left-width: 2px;
    border-left-style: solid;
  }

  .sidebar-left .sidebar-links a i.fa {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin: 0 20px 0 0;
    vertical-align: middle;
  }

}